@import url('https://fonts.googleapis.com/css?family=Poppins:400,400i,700');

body {
  font-family: "Poppins", sans-serif !important;
}

::selection {
  background: #F15D4A;
  color: #FAFCFC;
}
::-moz-selection {
  background: #F15D4A;
  color: #FAFCFC;
}

@media only screen and (min-width:768px) {
  .markdown-section {
    padding: 20px 80px 40px 90px;
    max-width: 1080px;
  }
}

.markdown-section code, .markdown-section pre {
  background-color: #f1f1f1;
  border-radius: 3px;
  padding: 0.5em;
}

.markdown-section h1 {
  font-weight: 400;
}

.markdown-section h4 {
  text-transform: uppercase;
}

.markdown-section a {
  color: rgb(23,113,145);
}

.book-header .btn.lang-switcher.active {
  background-color: rgb(23,113,145);
}

.book-summary ul.summary li.header {
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.gitbook-link, a[aria-label="Share"], .font-settings, a[aria-label="Change Layout"], .custom-link {
  display: none !important;
}

.book-summary ul.summary li.chapter a {
 color: rgb(194, 204, 205);
}

.markdown-section {
  color: #070E18;
}

.markdown-section a, .book-summary ul.summary li.active>a {
  color: #F15D4A;
  font-weight: bold;
}

.book-summary ul.summary li.header {
  padding: 30px 15px 5px 15px;
}

.book-summary ul.summary li a, .book-summary ul.summary li span {
  padding: 8px 15px;
}

.book-summary {
  background-color: #070E18;
}

#book-search-input {
  background-color: #070E18;
  color: rgb(255, 255, 255);
  border-bottom: 1px solid rgba(255, 255, 255, 0.04);
  position: relative;
}

input::placeholder {
  color: rgb(194, 204, 205);
}

.book-body {
  background-color: rgb(248, 248, 248);
  color: #070E18;
}

.book-body a {
  color: #F15D4A;
}

.book-header {
  background-color: rgb(248, 248, 248);
}

.fa-search {
  color: rgb(194, 204, 205);
  position: absolute;
  top: 17px;
  right: 14px;
}

.docs-logo {
  width: 86%;
  margin: 20px 0 20px 14px;
}

.go-to-www {
  width: 179px;
  margin: 20px 0 0 14px;
  color: rgb(194, 204, 205);
}

.exit-left {
  width: 20px;
  padding-right: 4px;
}
